
$flex-direction: row;
$width_1: 70px;
$primary_color: black;
$secondary_color: white;
$margin: 10px;
$font_weight_one: 600;
$font_weight_two: 400;
$font_weight_three: 300;
$block_width: 60%;
$border-radius: 100px;
$height_one: 600px;
$height_two: 400px;
$bp_large: 1050px;